@model Product

<head>
    <link rel="stylesheet" href="~/css/products&categories.css">
</head>

<h1 class="text-center mb-5">Products | <a href="/categories">Categories</a></h1>
<div class="row">
    <div class="col">
        <div>
            <h3>New Product</h3>
            <form asp-action="CreateProduct" asp-controller="Home" method="post">
                <label asp-for="Name"></label>
                <input class="form-control" asp-for="Name"><br>
                <label asp-for="Description"></label>
                <textarea class="form-control" col="30" row="5" asp-for="Description"></textarea><br>
                <label asp-for="Price"></label>
                <input class="form-control" asp-for="Price"><br>
                <button class="btn btn-success form-control" type="submit">Create</button>
                <span asp-validation-for="Name"></span><br>
                <span asp-validation-for="Price"></span><br>
                <span asp-validation-for="Description"></span><br>
            </form>
        </div>
    </div>
    <div class="col-2">
        <div class="divider"></div>
    </div>
    <div class="col">
        <div>
            <h3>Existing Products</h3>
            @foreach(var product in ViewBag.allProducts)
            {
                <a class="underline" href="/products/@product.ProductId">@product.Name</a><br>
            }
        </div>
    </div>
</div>